*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
  } 

.icon {
    float: left;
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 20px;
}

.back {
    padding: 0;
    border: none;
    background: none;
    outline: none; 
    border: none;
    color: black;
    display: inline-block;
}

.back:hover {
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #adafb0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 75%;
    display: flex;
}

.gallery {
    flex-basis: 45%;
    border-radius: 25px;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.gallery img{
    display: block;  
    padding-top: 30%;
    padding-bottom: 20%;
    max-width: 90%;
    margin: auto;
}

.details {
    flex-basis: 53%;
    border-radius: 25px;
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 100px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.details h1{
    color: black;
    font-size: 35px;
}
.details h2{
    color: black;
    font-size: 27px;
    font-weight: 100;
}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: rgb(41, 104, 41);
    width: max-content;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 1px rgb(6, 6, 6);
}

.details h5{
    color: #333;
    font-size: 15px;
    font-weight: 400;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: grey; /* old IE */
    background-color: grey; /* Modern Browsers */
}

.reviews {
    color: #f33f3f;
    font-size: 14px;
}

.booton {
    background: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    margin-top: 10%;
    box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.booton:focus {
    outline: none;
}



.booton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .booton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .booton:hover span {
    padding-right: 25px;
  }
  
  .booton:hover span:after {
    opacity: 1;
    right: 0;
  }


.booton2 {
    background: grey;
    color: rgb(0, 0, 0);
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    margin-top: 3%;
    box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.booton2:focus {
    outline: none;
}

.booton2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .booton2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .booton2:hover span {
    padding-right: 25px;
  }
  
  .booton2:hover span:after {
    opacity: 1;
    right: 0;
  }

  

.item {
    outline: 0;
    padding: 0; 
    border: none; 
    background: none;
    cursor: pointer;
    display: inline-block;
}

 .payments { 
    margin-top: 10%;
    width: 37%;
}

 .payment {
    margin-left: 26%;
    width: 34%;
}





  