*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 80%;
    display: flex;
}

.gallery {
    flex-basis: 40%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.gallery img{
    display: block;  
    padding-top: 30%;
    padding-bottom: 20%;
    max-width: 90%;
    margin: auto;
}

.details {
    flex-basis: 60%;
    background: white;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.details h1{
    color: #333;
    font-size: 35px;
}
.details h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
}
.details h3{
    color: #00ac5c;
    margin-bottom: 20px;
    font-size: 20px;
}

.item {
    outline: 0;
    padding: 0; 
    border: none; 
    background: none;
    cursor: pointer;
    display: inline-block;
}